<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/cards" routerDirection="backword">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Business Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <div class="leftSide">
      <div>
        <!-- <img src="../../../assets/icon/favicon.png" /> -->
        <ion-icon name="logo-octocat"></ion-icon>
        <h1>KONIAT</h1>
        <p>Startup</p>
      </div>
    </div>
    <div class="rightSide">
      <div class="image">
        <img src="../../../assets/qr.png" />
      </div>
      <div class="eachInfo">
        <ion-icon name="person"></ion-icon>
        <p>Sanjib Kumar Mandal</p>
      </div>
      <div class="eachInfo">
        <ion-icon name="call"></ion-icon>
        <p>+91 8967400975</p>
      </div>
      <div class="eachInfo">
        <ion-icon name="mail"></ion-icon>
        <p>sanjib0248@gmail.com</p>
      </div>
      <div class="social">
        <p>Follow Us On</p>
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-icon name="logo-apple"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
