<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/cards" routerDirection="backword">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Huge Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="allcards">
    <div class="eachCard">
      <div class="top">
        <img src="https://likewise-stage.azureedge.net/uploads/3eb6cf23-895b-45e9-b92c-5fb1b457dd04/bill-gates-profile-pic.jpg" />
        <div>
            <h1>Sanjib Kumar Mandal</h1>
            <p>22 May, 2020</p>
        </div>
        <ion-icon name="arrow-up"></ion-icon>
      </div>
      <p class="content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
      <div class="bottom">
        <div>
          <ion-icon name="navigate"></ion-icon>
          <p>Kolkata</p>
        </div>
        <div>
          <ion-icon name="calendar"></ion-icon>
          <p>22 May, 2020</p>
        </div>
        <div>
          <ion-icon name="navigate"></ion-icon>
          <p>Kolkata</p>
        </div>
      </div>
      <div class="buttons">
        <ion-button fill="clear" color="primary" expand="full">Edit</ion-button>
      </div>
    </div>
  </div>
</ion-content>
