<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bread Cramps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Stays same in different OS</h1>
  <!-- Type one -->
  <div class="crampOne"><p>Home</p><p>Level 1</p><p>Level 2</p><p>Level 3</p></div>
  <!--Type two-->
  <div class="crampTwo" style="margin-top: 30px;"><p><span>Home</span></p><p><span>Level 1</span></p><p><span>Level 2</span></p><p><span>Level 3</span></p></div>
  <!-- type Three -->
  <div class="crampThree" style="margin-top: 30px;"><p>Home</p><p>Level 1</p><p>Level 2</p><p>Level 3</p></div>
  <!-- Type Four -->
  <div class="crampFour" style="margin-top: 30px;"><p><ion-icon name="home"></ion-icon></p><p><ion-icon name="journal"></ion-icon> Level 1</p><p><ion-icon name="heart-half"></ion-icon> Level 2</p></div>
  <!-- Type Five -->
  <div class="crampFive" style="margin-top: 25px;"><ion-icon name="home"></ion-icon><div><p>Lavel 1</p><p>Lavel 2</p><p>Lavel 3</p><p>Lavel 4</p></div></div>
  <!-- Type Six -->
  <div class="crampSix" style="margin-top: 25px;"><p>Home</p><p>Lavel 1</p><p>Lavel 2</p><p>Lavel 3</p></div>
  <!-- Type Seven -->
  <div class="crampSeven" style="margin-top: 25px;"><p>Home</p><p>Lavel 1</p><p>Lavel 2</p><p>Lavel 3</p></div>
</ion-content>
