<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Native card</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/cards/native-card"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Huge Info</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/cards/custom-one"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Google Card</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/cards/custom-two"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Profile Card</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/cards/custom-three"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Credit Card</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/cards/custom-four"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Business Card</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/cards/custom-five"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Exchange Card</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/cards/custom-six"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
</ion-content>
