<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sage Savas List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="sageList">
    <!-- List Item 1 -->
    <div class="eachList">
      <ion-icon name="person"></ion-icon>
      <div class="details">
        <h1>Sanjib Kumar</h1>
        <p>23 Notifications</p>
      </div>
    </div>
    <!-- List Item 2 -->
    <div class="eachList">
      <ion-icon name="camera-reverse"></ion-icon>
      <div class="details">
        <h1>Sanjib Kumar</h1>
        <p>23 Notifications</p>
      </div>
    </div>
    <!-- List Item 3 -->
    <div class="eachList">
      <ion-icon name="cloud"></ion-icon>
      <div class="details">
        <h1>Sanjib Kumar</h1>
        <p>23 Notifications</p>
      </div>
    </div>
  </div>
</ion-content>
