<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/cards" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Free Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="allCards">
    <div class="eachCard">
      <h2>MTD</h2>
      <div class="flexer">
        <div class="leftSide">
          <h3><span>VAL 20%</span><ion-icon name="arrow-up"></ion-icon></h3>
          <p>10.20</p>
          <p>1.22</p>
          <p>40.25</p>
          <h4>33.33% <span>(ACH)</span></h4>
        </div>
        <div class="rightSide">
          <h3><span>VOL 20%</span><ion-icon name="arrow-down"></ion-icon></h3>
          <p>10.20</p>
          <p>1.22</p>
          <p>40.25</p>
          <h4>33.33% <span>(ACH)</span></h4>
        </div>
      </div>
    </div>
  </div>
</ion-content>
