<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/cards" routerDirection="backword">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Exchange Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="allCards">
    <!-- Each Card -->
    <div class="eachCard">
      <div class="topSide">
        <h1><span>MTD</span></h1>
        <div class="tbl">
          <div class="head"><p>LY</p><p>TY</p><p>TGT</p><p>GROWTH</p></div>
          <div class="body"><p>40.82</p><p>42.22</p><p>71.58</p><p><ion-icon name="arrow-up"></ion-icon><span> 68% </span></p></div>
          <div class="body"><p>68.87</p><p>60.64</p><p>114.89</p><p><ion-icon name="arrow-down"></ion-icon><span> 68% </span></p></div>
        </div>
      </div>
      <div class="bottomSide">
        <div><p>VALUE (ACH)</p><p>25%</p></div>
        <div><p>VOLUME (ACH)</p><p>58%</p></div>
      </div>
    </div>
    <!-- Each Card -->
    <div class="eachCard">
      <div class="topSide">
        <h1><span>YTD</span></h1>
        <div class="tbl">
          <div class="head"><p>LY</p><p>TY</p><p>TGT</p><p>GROWTH</p></div>
          <div class="body"><p>40.82</p><p>42.22</p><p>71.58</p><p><ion-icon name="arrow-up"></ion-icon><span> 68% </span></p></div>
          <div class="body"><p>68.87</p><p>60.64</p><p>114.89</p><p><ion-icon name="arrow-down"></ion-icon><span> 68% </span></p></div>
        </div>
      </div>
      <div class="bottomSide">
        <div><p>VALUE (ACH)</p><p>25%</p></div>
        <div><p>VOLUME (ACH)</p><p>58%</p></div>
      </div>
    </div>
    <!-- Each Card -->
    <div class="eachCard">
      <div class="topSide">
        <h1><span>OD</span></h1>
        <div class="tbl">
          <div class="head"><p>LY</p><p>TY</p><p>TGT</p><p>GROWTH</p></div>
          <div class="body"><p>40.82</p><p>42.22</p><p>71.58</p><p><ion-icon name="arrow-up"></ion-icon><span> 68% </span></p></div>
          <div class="body"><p>68.87</p><p>60.64</p><p>114.89</p><p><ion-icon name="arrow-down"></ion-icon><span> 68% </span></p></div>
        </div>
      </div>
      <div class="bottomSide">
        <div><p>VALUE (ACH)</p><p>25%</p></div>
        <div><p>VOLUME (ACH)</p><p>58%</p></div>
      </div>
    </div>
  </div>
</ion-content>
