<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/lists" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Swiggy Lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="lists">
    <div class="eachList">
      <p class="veg"><span></span></p>
      <div class="info"><h4>Food Name</h4><p>Desc</p><p>Desc 2</p></div>
      <div class="couter"><div><span>-</span><p>20</p><span>+</span></div></div>
      <p class="price"><span>$25.00</span></p>
    </div>
    <div class="eachList">
      <p class="veg"><span></span></p>
      <div class="info"><h4>Food Name</h4><p>Desc</p><p>Desc 2</p></div>
      <div class="couter"><div><span>-</span><p>20</p><span>+</span></div></div>
      <p class="price"><span>$25.00</span></p>
    </div>
    <div class="eachList">
      <p class="veg"><span></span></p>
      <div class="info"><h4>Food Name</h4><p>Desc</p><p>Desc 2</p></div>
      <div class="couter"><div><span>-</span><p>20</p><span>+</span></div></div>
      <p class="price"><span>$25.00</span></p>
    </div>
    <div class="eachList">
      <p class="veg"><span></span></p>
      <div class="info"><h4>Food Name</h4><p>Desc</p><p>Desc 2</p></div>
      <div class="couter"><div><span>-</span><p>20</p><span>+</span></div></div>
      <p class="price"><span>$25.00</span></p>
    </div>
  </div>
</ion-content>
