<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/forms" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Card Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullBody">
    <div class="box">
      <div class="eachField">
        <input type="text" placeholder="User Name" />
        <ion-icon name="person-outline"></ion-icon>
      </div>
      <div class="eachField">
        <input type="text" placeholder="Password" />
        <ion-icon name="key-outline"></ion-icon>
      </div>
      <div class="eachField">
        <input type="text" placeholder="Extra" />
        <ion-icon name="document-outline"></ion-icon>
      </div>
      <ion-button fill="solid" color="primary" expand="full">Log In</ion-button>
    </div>
  </div>
</ion-content>
