<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/lists" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Markup Lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="allLists">
    <div class="leftSide">
      <p>Songs</p>
      <p>Plays</p>
      <p class="active">Theaters</p>
      <p>Music</p>
      <p>Opera</p>
    </div>
    <div class="rightSide">
      <div>
          <p>Tickets</p>
          <p>Sites</p>
          <p>Collectors</p>
          <p>Entrance</p>
          <p>Gatherings</p>
      </div>
    </div>
  </div>
</ion-content>
