<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Native Form</ion-label>
    <ion-button fill="clear" color="dark" slot="end" routerLink="/forms/footer-form" routerDirection="forward"><ion-icon name="arrow-forward"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Custom Form One</ion-label>
    <ion-button fill="clear" color="dark" slot="end" routerLink="/forms/custom-one" routerDirection="forward"><ion-icon name="arrow-forward"></ion-icon></ion-button>
  </ion-item>
</ion-content>
