ion-content{
    @import '../../../styles.scss';
    $theam: $color-blue;
    $text-color: $color-black;
    .allCards{
        padding: 10px;
        .eachCard{
            padding: 10px;
            margin-bottom: 10px;
            box-shadow: 0 0 1px 1px $theam;
            border-radius: 3px;
            .head{
                display: flex;
                padding-bottom: 5px;
                margin-bottom: 5px;
                border-bottom: 1px solid lighten($theam, 15);
                p{
                    @include text(20px, $theam);
                    text-align: center;
                    &:nth-child(1){
                        width: 60%;
                    }
                    &:nth-child(2){
                        width: 40%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        ion-icon{
                            margin-right: 10px;
                        }
                        ion-icon[name="arrow-up"]{
                            color: $color-green;
                        }
                        ion-icon[name="arrow-down"]{
                            color: $color-green;
                        }
                    }
                }
            }
            .body{
                display: flex;
                p{
                    width: 25%;
                    text-align: center;
                    padding: 10px 0;
                    @include text;
                    position: relative;
                    &::after{
                        @include text(12px, $text-color, $wt: bold);
                        position: absolute;
                        bottom: -5px;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                    &:nth-child(1){&::after{content: 'LY';}}
                    &:nth-child(2){&::after{content: 'TY';}}
                    &:nth-child(3){&::after{content: 'TGT';}}
                    &:nth-child(4){&::after{content: 'ACH';}}
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}