<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/cards" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Desert Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="allCards">
    <div class="eachCard">
      <div class="head"><p>VOL</p><p><ion-icon name="arrow-down"></ion-icon><span>30%</span></p></div>
      <div class="body"><p>32.00</p><p>55.00</p><p>150.00</p><p>32%</p></div>
    </div>
    <div class="eachCard">
      <div class="head"><p>VOL</p><p><ion-icon name="arrow-down"></ion-icon><span>30%</span></p></div>
      <div class="body"><p>32.00</p><p>55.00</p><p>150.00</p><p>32%</p></div>
    </div>
    <div class="eachCard">
      <div class="head"><p>VOL</p><p><ion-icon name="arrow-down"></ion-icon><span>30%</span></p></div>
      <div class="body"><p>32.00</p><p>55.00</p><p>150.00</p><p>32%</p></div>
    </div>
  </div>
</ion-content>
