<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/lists" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Action Lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="allLists">
    <!-- Item One -->
    <div class="eachList">
      <div class="body">
        <h2>Sanjib Kumar Mandal</h2>
        <p>Invoice Id</p>
      </div>
      <div class="btns">
        <div><p><ion-icon name="cloud-download"></ion-icon><span>Save</span></p></div>
        <div><p><ion-icon name="construct"></ion-icon><span>Settings</span></p></div>
      </div>
    </div>
    <!-- Item Two -->
    <div class="eachList">
      <div class="body">
        <h2>Sanjib Kumar Mandal</h2>
        <p>Invoice Id</p>
      </div>
      <div class="btns">
        <div><p><ion-icon name="cloud-download"></ion-icon><span>Save</span></p></div>
        <div><p><ion-icon name="construct"></ion-icon><span>Settings</span></p></div>
      </div>
    </div>
    <!-- Item Three -->
    <div class="eachList">
      <div class="body">
        <h2>Sanjib Kumar Mandal</h2>
        <p>Invoice Id</p>
      </div>
      <div class="btns">
        <div><p><ion-icon name="cloud-download"></ion-icon><span>Save</span></p></div>
        <div><p><ion-icon name="construct"></ion-icon><span>Settings</span></p></div>
      </div>
    </div>
  </div>
</ion-content>
