<ion-header>
<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button routerLink="/lists" routerDirection="backward">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Huge Info</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="allLists">
    <div class="eachLists">
      <div class="leftMost"><p>2020</p><p>02</p><p>Dec</p></div>
      <div class="left"><p>Order<span>#292826</span></p><p>Sanjib Kumar Mandal</p><p>sanjib0248@gmail</p></div>
      <div class="right">
        <p>Total</p>
        <p>$255.00</p>
      </div>
      <div class="rightMost">
        <p>Processing</p>
      </div>
    </div>
  </div>
</ion-content>
