ion-content{
    @import '../../../styles.scss';
    $theam: $color-blue;
    .allLists{
        .eachLists{
            padding: 10px;
            border-bottom: 1px solid darken($color-white, 10);
            display: flex;
            overflow: hidden;
            .leftMost{
                width: 60px;
                margin-right: 5px;
                text-align: center;
                p{
                    @include text(14px, $color-gibs);
                    &:nth-child(2){
                        color: $theam;
                        font-size: 25px;
                    }
                }
            }
            .left{
                width: calc(100% - 160px);
                margin-right: 10px;
                p{
                    @include text(14px, $color-gibs);
                    span{
                        color: $theam;
                        margin-left: 10px;
                    }
                    &:nth-child(2){
                        font-size: 18px;
                        color: $color-black;
                        @include limitLines;
                        margin: 3px 0;
                    }
                    &:nth-child(3){
                        margin-top: 3px;
                    }
                }
            }
            .right{
                width: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                div{
                    text-align: center;
                    p{
                        @include text;
                        padding: 2px 0;
                        &:nth-child(2){
                            color: $theam;
                            font-size: 16px;
                        }
                        &:last-child{
                            font-weight: bold;
                        }
                    }
                }
            }
            .rightMost{
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    @include text($clr: $color-red);
                    ion-icon{
                        font-size: 25px;
                    }
                    ion-icon[name="arrow-up"]{
                        color: $color-green;
                    }
                }
            }
        }
    }
}