<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button routerLink="/forms" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Abstruct Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="fullBody">
  <ion-icon name="time"></ion-icon>
  <input type="text" placeholder="User Name"/>
  <input type="password" placeholder="Password"/>
  <p class="linkage">Forgot Password?</p>
  <button>Log In</button>
</div>
</ion-content>

<ion-footer>
  <div class="footIcons">
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-google"></ion-icon>
    <ion-icon name="logo-twitter"></ion-icon>
    <button><span>OR</span> SignUp</button>
  </div>
</ion-footer>
