<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/lists" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile Lists (native)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="allLists">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png"/>
      </ion-avatar>
      <ion-label>
        <h2>Sanjib Kumar Mandal</h2>
        <p>22 May, 2021</p>
      </ion-label>
      <ion-button color="danger" fill="clear" slot="end">
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png"/>
      </ion-avatar>
      <ion-label>
        <h2>Sanjib Kumar Mandal</h2>
        <p>22 May, 2021</p>
      </ion-label>
      <ion-button color="danger" fill="clear" slot="end">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png"/>
      </ion-avatar>
      <ion-label>
        <h2>Sanjib Kumar Mandal</h2>
        <p>22 May, 2021</p>
      </ion-label>
      <ion-button color="danger" fill="clear" slot="end">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
</ion-content>
