<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Google list</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/lists/google-list" routerDirection="forward"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Sage Savas list</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/lists/sage-savas-list" routerDirection="forward"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Huge Info</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/lists/huge-info-list" routerDirection="forward"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Hidden button (native)</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/lists/hidden-buttons" routerDirection="forward"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Profile Lists (native)</ion-label>
    <ion-button slot="end" fill="clear" routerLink="/lists/profile-list" routerDirection="forward"><ion-icon name="arrow-forward" slot="icon-only"></ion-icon></ion-button>
  </ion-item>
</ion-content>
