<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/lists" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Google List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="allLists">
    <!-- List Item 1 -->
    <div class="eachList">
      <ion-icon name="people"></ion-icon>
      <div class="listAbout">
        <h4>Social</h4>
        <p>Youtube</p>
      </div>
      <div class="note">
        <p>12 New</p>
      </div>
    </div>
    <!-- List Item 2 -->
    <div class="eachList">
      <ion-icon name="pricetag"></ion-icon>
      <div class="listAbout">
        <h4>Promosions</h4>
        <p>Think with google</p>
      </div>
      <div class="note">
        <p>12 New</p>
      </div>
    </div>
    <!-- List Item 3 -->
    <div class="eachList">
      <ion-icon name="chatbubbles"></ion-icon>
      <div class="listAbout">
        <h4>Forums</h4>
        <p>Google Play</p>
      </div>
      <div class="note">
        <p>99+ New</p>
      </div>
    </div>
  </div>
</ion-content>
