<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/forms" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Gradient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <!-- <img src="../../../assets/shapes.svg" /> -->
    <p>Logo</p>
  </div>
  <div class="forms">
    <div class="formBody">
      <!-- Each Field -->
      <div class="eachFiled">
        <ion-icon name="person"></ion-icon>
        <input type="text" placeholder="User Name" />
      </div>
      <!-- Each Field -->
      <div class="eachFiled">
        <ion-icon name="mail"></ion-icon>
        <input type="text" placeholder="Email Id" />
      </div>
      <!-- Each Field -->
      <div class="eachFiled">
        <ion-icon name="key"></ion-icon>
        <input type="password" placeholder="User Password" />
      </div>
      <!-- Conditions -->
      <div class="conditions">
        <div class="leftSide"><label><input type="checkbox" /><p></p></label></div>
        <div class="rightSide">Forgot Passowrd ?</div>
      </div>
      <!-- button -->
      <button>Log In</button>
      <!-- Other pages link -->
      <p class="anotherLink">Don't have account? <span>Sign Up</span></p>
    </div>
  </div>
</ion-content>
