<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/cards" routerDirection="backword">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Credit Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card">
    <!-- Card body -->
    <div class="card_body">
      <div class="top">
        <img src="../../../assets/chip.png" />
        <h2>VISA</h2>
      </div>
      <p class="middle">1234 5678 9012 3456</p>
      <p class="title">Card Holder</p>
      <div class="bottom">
        <h4>Sanjib Kumar Mandal</h4>
        <p><span>Valid Upto</span><span>12/2020</span></p>
      </div>
    </div>
  </div>
</ion-content>
