<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/cards" routerDirection="backword">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="allCards">
    <div class="eachCard">
      <div class="picture"><img src="https://i.pinimg.com/originals/2e/2f/ac/2e2fac9d4a392456e511345021592dd2.jpg" /></div>
      <h2>Sanjib Kumar Mandal</h2>
      <h4>Angular Developer</h4>
      <div class="icons">
        <ion-icon name="logo-google-playstore"></ion-icon>
        <ion-icon name="logo-paypal"></ion-icon>
        <ion-icon name="logo-skype"></ion-icon>
        <ion-icon name="logo-twitch"></ion-icon>
      </div>
      <div class="bottom">
        <p><ion-icon name="mail-unread"></ion-icon><span>sanjib0248</span></p>
        <p>India</p>
      </div>
    </div>
  </div>
</ion-content>
