<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/forms" routerDirection="root">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Abstruct Card Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="topSide">
    <img src="http://assets.stickpng.com/images/5e8ce318664eae0004085461.png"/>
    <!-- <p>Logo</p> -->
  </div>
  <div class="card">
    <h1>Hi, There</h1>
    <p class="desc">Something to say about this</p>
    <div class="eachField">
      <input type="text" placeholder="User Name" />
      <ion-icon name="person"></ion-icon>
    </div>
    <div class="eachField">
      <input type="email" placeholder="Email" />
      <ion-icon name="mail"></ion-icon>
    </div>
    <div class="eachField">
      <input type="password" placeholder="Password" />
      <ion-icon name="key"></ion-icon>
    </div>
    <div class="eachField">
      <input type="password" placeholder="Confirm Password" />
      <ion-icon name="key"></ion-icon>
    </div>
    <div class="btn">
      <button>Sign Up</button>
    </div>
    <p class="desc">Available login options</p>
    <div class="icons">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-google"></ion-icon>
    </div>
  </div>
</ion-content>
