@use "sass:math";
// colors
$color-sky: #2196f3;
$color-white: #ffffff;
$color-gibs: #666;
$color-black: #292826;
$color-garyish: #795548;
$color-green: #4caf50;
$color-blue: #3f51b5;
$color-accent: #c70041;
$color-pink: #9c27b0;
$color-red: #f44336;
// default css
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
// define functions
@function devide($firstNumber, $secondNumber){
    @return ($firstNumber / $secondNumber);
}
@function multiply($firstNumber, $secondNumber){
    @return ($firstNumber * $secondNumber);
}
// define mixins
@mixin text($sz: 14px, $clr: var(--ion-color-dark), $wt: inherit, $spc: inherit, $tr: inherit, $decor: none, $font: inherit){
    font-size: $sz;
    font-weight: $wt;
    font-family: $font;
    letter-spacing: $spc;
    color: $clr;
    text-transform: $tr;
    text-decoration: $decor;
}
@mixin limitLines($max-line: 1){
    display: -webkit-box;
    -webkit-line-clamp: $max-line;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

@mixin avatar($size: 1, $color: $color-red){
    @if $size == 1{
        width: 35px;
        height: 35px;
    }@else if $size == 2{
        width: 45px;
        height: 45px;
    }
    border: 2px solid $color;
    padding: 2px;
    border-radius: 50%;
}
@mixin border-radius($top: 0px, $right: 0px, $bottom: 0px, $left: 0px){
    border-top-left-radius: $left;
    border-top-right-radius: $right;
    border-bottom-right-radius: $bottom;
    border-bottom-left-radius: $left;
}