<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Designs</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="home"></ion-icon></ion-button>
      <ion-button><ion-icon name="heart"></ion-icon></ion-button>
      <ion-button><ion-icon name="person"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <!-- List Header -->
    <ion-list-header lines="inset">
      <ion-label>Available options for IOS and Android</ion-label>
      <!-- <ion-button>Clear</ion-button> -->
    </ion-list-header>
    <!-- Each Item -->
    <ion-item lines="none">
      <ion-label color="dark">Breadcramps</ion-label>
      <ion-button slot="end" fill="clear" color="dark" routerLink="/bread-cramps" routerDirection="forward"><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </ion-item>
    <!-- Each Item -->
    <ion-item lines="none">
      <ion-label color="dark">Lists</ion-label>
      <ion-button slot="end" fill="clear" color="dark" routerLink="/lists" routerDirection="forward"><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </ion-item>
    <!-- Each Item -->
    <ion-item lines="none">
      <ion-label color="dark">Cards</ion-label>
      <ion-button slot="end" fill="clear" color="dark" routerLink="/cards" routerDirection="forward"><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </ion-item>
    <!-- Each Item -->
    <ion-item lines="none">
      <ion-label color="dark">Switches</ion-label>
      <ion-button slot="end" fill="clear" color="dark" routerLink="/switch" routerDirection="forward"><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </ion-item>
    <!-- Each Item -->
    <ion-item lines="none">
      <ion-label color="dark">Forms</ion-label>
      <ion-button slot="end" fill="clear" color="dark"><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </ion-item>
    <!-- Each Item -->
    <ion-item lines="none">
      <ion-label color="dark">Extras</ion-label>
      <ion-button slot="end" fill="clear" color="dark"><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
